#Home .buttonBox{
    position: absolute;
    top: 15px;
    right: 15px;
}

#Home .buttonBox > *{
    margin-bottom: 5px;
}

#Home dl{
    display: flex;
    flex-direction: column;
    background: var(--surface);
    padding: 5px 15px;
    width: 100%;
    max-width: 350px;
    margin: 5px 0;
    font-size: 22px;
}

#Home dt{
    font-weight: bold
}

#Home dd{
    padding-left: 15px;
}

#Home .amountFull{
    color: hsl(120, 50%, 28%);
}

#Home .balance input{
    font-size: 22px;
}

#Home .allowances{
    width: 100%;
    max-width: 350px;
}
