@import "./home.css";
@import "./addMenu.css";
@import "./createAllowance.css";
@import "./viewTransactions.css";

:root {
    --primary: #6E4B3A;
    --secondary: #3A5A85;
    --accent: #D4AF37;
    --background: #F9F6F0;
    --surface: #DCD6CF;
    --textMain: #2A2A2A;
    --textMuted: #6D6D6D;
    --error: #B7410E;
    --success: #708238;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background: var(--background);
    color: var(--textMain);
}

.logo{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 100;
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 10px;
}

.standardForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    background: var(--surface);
    padding: 10px;
}

.standardForm h1{
    text-align: center;
}

.standardForm label{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin: 5px 0;
}

.standardForm input,
.standardForm select{
    background: white;
    outline: none;
    font-size: 22px;
    padding: 5px 0 5px 10px;
    border: 3px solid rgba(0, 0, 0, 0);
}

.standardForm input:focus,
.standardForm select:focus{
    border: 3px solid var(--secondary);
}

.standardForm button,
.button{
    font-size: 22px;
    margin: 10px 0;
    background: var(--primary);
    border: none;
    color: var(--accent);
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
}

.standardForm button:hover,
.button:hover{
    filter: brightness(1.25);
}

.standardForm button:active,
.button:active{
    filter: brightness(1.75);
}

.standardForm button.cancel,
.button.cancel{
    background: var(--error);
    color: white;
}

.circleButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 45px;
    color: var(--accent);
    background: var(--primary);
    border: none;
    cursor: pointer;
}

.circleButton:hover{
    filter: brightness(1.25);
}

.circleButton:active{
    filter: brightness(1.75);
}

.circleButton svg{
    height: 35px;
    width: 35px;
}

.link,
.standardForm .link{
    background: none;
    border: none;
    font-size: 18px;
    color: var(--textMuted);
    cursor: pointer;
    text-decoration: underline;
    margin: 0;
}

.notifier{
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 750px;
    padding: 15px 35px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    z-index: 100;
    color: #fff;
}

.notifier.error{
    background: var(--error);
}

.notifier.success{
    background: var(--success);
}
