:root {
    --primary:     #6E4B3A;
    --secondary:   #3A5A85;
    --accent:      #D4AF37;
    --background:  #F9F6F0;
    --surface:     #DCD6CF;
    --textMain:   #2A2A2A;
    --textMuted:  #6D6D6D;
    --error:       #B7410E;
    --success:     #708238;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background: var(--background);
    color: var(--textMain);
}

.logo{
    position: absolute;
    top: 35px;
    left: 35px;
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.standardForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    background: var(--surface);
    padding: 35px;
}

.standardForm h1{
    text-align: center;
}

.standardForm label{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin: 15px 0;
}

.standardForm input{
    font-size: 22px;
    padding: 5px 0 5px 10px;
}

.standardForm button, .button{
    font-size: 22px;
    margin: 15px 0;
    background: var(--primary);
    border: none;
    color: var(--accent);
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.button.circle{
    border-radius: 50%;
}

.link, .standardForm .link{
    background: none;
    border: none;
    font-size: 18px;
    color: var(--textMuted);
    cursor: pointer;
    text-decoration: underline;
    margin: 0;
}

.notifier{
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 750px;
    padding: 15px 35px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    z-index: 100;
    color: white;
}

.notifier.error{
    background: var(--error);
}

.notifier.success{
    background: var(--success);
}
