#TransactionDetails h1{
    text-align: center;
}

#TransactionDetails .dataContainer{
    width: 100%;
    max-width: 750px;
}

#TransactionDetails dl{
    padding: 5px 15px;
    font-size: 22px;
    margin: 5px 0;
    background: var(--surface);
}

#TransactionDetails dt{
    font-weight: bold;
    text-decoration: underline;
}

#TransactionDetails .button{
    width: 100%;
}

#TransactionDetails .green{
    color: var(--success);
}

#TransactionDetails .red{
    color: var(--error);
}

#TransactionDetails .deleteModal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: calc(50% - 150px);
    right: calc(50% - 150px);
    background: var(--surface);
    box-shadow: 0 0 10px var(--secondary);
    border: 1px solid var(--secondary);
    height: 300px;
    width: 300px;
    max-width: 500px;
    padding: 15px;
}

#TransactionDetails .deleteModal p{
    font-size: 22px;
    text-align: center;
}
