#ViewIncome,
#ViewBills,
#ViewAllowances{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
}

#ViewIncome .switch{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    margin: 35px 0 15px 0;
}

#ViewIncome .switch p{
    position: absolute;
    width: 100px;
    top: -20px;
}

.categoryContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 750px;
}

.viewCategoryItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    margin: 5px 0;
    background: var(--surface);
    width: 100%;
    cursor: pointer;
    min-height: 55px;
    border: none;
}

.viewCategoryItem:hover{
    box-shadow: 0 0 3px var(--secondary);
}

.categoryItemSpent{
    font-weight: bold;
}

#ViewIncome .strike{
    text-decoration: line-through;
}
